<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="container about-me" id="about-me">
            <h1 class="about-me-title">About <span class="about-me-span">me</span></h1>
          <div class="item-container">
            <div class="bio-img-container">
                <div class="content-image-container">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./img/svg/aboutimg/img-desctop@1x.webp 1x, ./img/svg/aboutimg/img-desctop@2x.webp 2x">
                        <source media="(min-width: 768px)"
                            srcset="./img/svg/aboutimg/img-tablet@1x.webp 1x, ./img/svg/aboutimg/img-tablet@2x.webp 2x">
                        <source media="(max-width: 767px)"
                            srcset="./img/svg/aboutimg/img-mobile@1x.webp 1x, ./img/svg/aboutimg/img-mobile@2x.webp 2x">
                        <img class="content-img" src="./img/svg/aboutimg/img-desctop@1x.webp"
                            alt="Lloyd Jefferson">
                    </picture>
                  </div>
                <div class="bio-container">
                    <h3 class="bio-title">BIO</h3>
                    <div class="bio-item-cont">
                        <p class="bio-item-cont1">I'm Lloyd Jefferson, a talented programmer specializing in 
                            software development. My expertise spans various programming languages and technologies,
                             and I am dedicated to continually enhancing my skills. I thrive on seeking unconventional
                              and creative solutions to problems, leveraging a high level of analytical skills to 
                              effectively tackle even the most challenging tasks.</p>
                    <p class="bio-item-cont1">
                        Adaptable to both independent and team-oriented work,I
                      collaborate seamlessly with colleagues, exchanging ideas and finding optimal
                       solutions.My professional maturity enables me to navigate challenges and 
                       stressful situations with a calm demeanor, maintaining a consistently
                        high quality of work. Committed to self-improvement,I actively engage in studying
                         new technologies and practices to stay current with the latest innovations in the field.</p>
                    </div>
                    <div class="decor-img">
                        <img src="./img/svg/aboutimg/decor-bg-2.png" alt="decor-bg-2">
                    </div>
                </div>
            </div>
                <div class="educ-role-container">
                    <div class="education-continer">
                        <h3 class="education-title">EDUCATION</h3>
                    <ul class="education-list">
                        <li class="education-item">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
                        <li class="education-item">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                        <li class="education-item">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                    </ul>
                    </div>
                    <div class="role-container">
                        <h3 class="role-title">ROLE</h3>
                        <ul class="role-list">
                            <li class="role-item">Frontend development</li>
                            <li class="role-item">HeadlessCMS, Wordpress</li>
                            <li class="role-item">Blender (enjoy)</li>
                        </ul>
                    </div>  
                </div>
                
          </div>
        
    </section>
    
</body>
</html>

