<section class="faq-section">
  <section class="faq-section">
    <h2 class="faq-title">
      <span>Frequently</span><br />
      <span>Asked</span><br />
      <span class="accent">Question</span>
    </h2>
    <ul class="accordion">
      <li class="accordion-item activ">
        <button class="accordion-header">
          What programming languages are most often used in your project?
        </button>
        <div class="accordion-content">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-header">
          What are the deadlines for the project?
        </button>
        <div class="accordion-content">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-header">
          What payment methods do you accept?
        </button>
        <div class="accordion-content">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-header">How can I contact you?</button>
        <div class="accordion-content">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-header">
          Do you provide advice or support?
        </button>
        <div class="accordion-content">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </div>
      </li>
      <li class="accordion-item">
        <button class="accordion-header">
          What does the process of developing a software product look like from
          idea to implementation?
        </button>
        <div class="accordion-content">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </div>
      </li>
    </ul>
  </section>
</section>
