<section class="faq-section">
  <div class="faq-div container">
    <div class="faq-header">
      <h2 class="faq-title">
        <span>Frequently</span><br />
        <span>Asked</span><br />
        <span class="accent">Question</span>
      </h2>
      <img class="decor" src="/img/decor bg 4.png" alt="decor-bg-4" />
    </div>
    <ul class="accordion" data-accordion>
      <li class="accordion-item open">
        <div class="accordion-header">
          <span class="accordion-question">What programming languages are most often used in your
            project?</span>
          <button class="btn-accordion-question">
            <svg class="icon-dropdown" width="32" height="32">
              <use href="/img/svg/icons.svg#icon-button-up"></use>
            </svg>
          </button>
        </div>
        <p class="accordion-content">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="accordion-item close">
        <div class="accordion-header">
          <span class="accordion-question">What are the deadlines for the project?</span>
          <button class="btn-accordion-question">
            <svg class="icon-dropdown" width="32" height="32">
              <use href="/img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
        </div>
        <p class="accordion-content">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources.
        </p>
      </li>

      <li class="accordion-item close">
        <div class="accordion-header">
          <span class="accordion-question">What payment methods do you accept?</span>
          <button class="btn-accordion-question">
            <svg class="icon-dropdown" width="32" height="32">
              <use href="/img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
        </div>
        <p class="accordion-content">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems like PayPal, and also
          cryptocurrencies like Bitcoin, Ethereum, and others.
        </p>
      </li>

      <li class="accordion-item close">
        <div class="accordion-header">
          <span class="accordion-question">How can I contact you?</span>
          <button class="btn-accordion-question">
            <svg class="icon-dropdown" width="32" height="32">
              <use href="/img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
        </div>
        <p class="accordion-content">
          You can contact us via email, phone, or through the contact form
          available on our website.
        </p>
      </li>

      <li class="accordion-item close">
        <div class="accordion-header">
          <span class="accordion-question">Do you provide advice or support?</span>
          <button class="btn-accordion-question">
            <svg class="icon-dropdown" width="32" height="32">
              <use href="/img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
        </div>
        <p class="accordion-content">
          Yes, we provide full consulting and technical support throughout the
          project development and beyond if needed.
        </p>
      </li>

      <li class="accordion-item close">
        <div class="accordion-header">
          <span class="accordion-question">What does the process of developing a software product look like
            from idea to implementation?</span>
          <button class="btn-accordion-question">
            <svg class="icon-dropdown" width="32" height="32">
              <use href="/img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
        </div>
        <p class="accordion-content">
          It includes ideation, requirement gathering, planning, design,
          development, testing, and finally deployment and maintenance.
        </p>
      </li>
    </ul>
  </div>
</section>