<section class="faq-section">
  <div class="faq-div container">
    <h2 class="faq-title">
      <span>Frequently</span><br />
      <span>Asked</span><br />
      <span class="accent">Question</span>
    </h2>
    <ul class="accordion">
      <li class="accordion-item open">
        <div class="accordion-header">
          <button class="accordion-question">
            <span
              >What programming languages are most often used in your
              project?</span
            >
            <svg class="icon-dropdown" width="32" height="32">
              <use href="../img/svg/icons.svg#icon-button-up"></use>
            </svg>
          </button>
          <p class="accordion-content open">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item close">
        <div class="accordion-header">
          <button class="accordion-question">
            <span>What are the deadlines for the project?</span>
            <svg class="icon-dropdown" width="32" height="32">
              <use href="../img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
          <p class="accordion-content close">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item close">
        <div class="accordion-header">
          <button class="accordion-question">
            <span>What payment methods do you accept?</span>
            <svg class="icon-dropdown" width="32" height="32">
              <use href="../img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
          <p class="accordion-content close">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="accordion-item close">
        <div class="accordion-header">
          <button class="accordion-question">
            <span>How can I contact you?</span>
            <svg class="icon-dropdown" width="32" height="32">
              <use href="../img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
          <p class="accordion-content close">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item close">
        <div class="accordion-header">
          <button class="accordion-question">
            <span>Do you provide advice or support?</span>
            <svg class="icon-dropdown" width="32" height="32">
              <use href="../img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>
          <p class="accordion-content close">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item close">
        <div class="accordion-header">
          <button class="accordion-question">
            <span
              >What does the process of developing a software product look like
              from idea to implementation?</span
            >
            <svg class="icon-dropdown" width="32" height="32">
              <use href="../img/svg/icons.svg#icon-button-down"></use>
            </svg>
          </button>

          <p class="accordion-content close">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
    <img class="decor" src="./img/decor bg 4.png" alt="decor-bg-4" />
  </div>
</section>
