<div class="backdrop hidden" id="modalBackdrop">
    <div class="modal" id="modalWindow">
      <button class="close-btn" id="closeModalBtn">
        <svg class="modal-icon" width="24" height="24">
            <use href=""></use>
          </svg>

      </button>
      <h2 class="modal-title">THANK YOU FOR YOUR INTEREST IN COOPERATION!</h2>
      <p class="modal-description">
        The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
  