<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="reviews-swiper swiper" tabindex="0">
      <ul class="reviews-list swiper-wrapper" id="reviews-list">
        <!-- Відгуки будуть тут додані JS -->
      </ul>

      <div class="reviews-buttons">
        <button
          type="button"
          class="reviews-button-prev swiper-button-prev"
          tabindex="0"
          aria-label="Previous review"
        >
          <svg class="reviews-icon" width="24" height="24">
            <use href="/img/svg/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button
          type="button"
          class="reviews-button-next swiper-button-next"
          tabindex="0"
          aria-label="Next review"
        >
          <svg class="reviews-icon" width="24" height="24">
            <use href="/img/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
