<section class="tech-skills">
    <h2 class="tech-skills-title">Tech Skills</h2>
    <div class="tech-skills-green">   
        <div class="tech-skills-inner-green">
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
             <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>   
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>     
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>                       
        </div>
    </div>
    <div class="tech-skills-grey">
        <div class="tech-skills-inner-grey">
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
                </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>     
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>     
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>     
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>
            <p class="tech-skills-line">
                <span class="tech-skills-point">•</span>HTML/CSS
                <span class="tech-skills-point">•</span>JavaScript
                <span class="tech-skills-point">•</span>React
                <span class="tech-skills-point">•</span>Node.js
                <span class="tech-skills-point">•</span>React Native
                <span class="tech-skills-point">•</span>Typescript
            </p>                                         
        </div>
    </div>
</section>

