<section class="work-together">
    <div class="work-together-block container">
        <div class="work-together-textblock">
            <h2 class="work-together-title"><span>Let’s</span> work together</h2>
            <p class="work-together-parag">Contact me to transform your ideas into exceptional solutions.</p>
            <address class="work-together-contact-list">
                <div class="contact-item">
                    <svg class="work-contact-list-icon">
                        <use href="/src/img/svg/icons.svg#icon-phone"></use>
                    </svg>
                    <a class="work-together-contact-list-item" href="tel:380904567890">+38 090 456 78 90</a>
                </div>

                <div class="contact-item">
                    <svg class="work-contact-list-icon">
                        <use href="/src/img/svg/icons.svg#icon-mail"></use>
                    </svg>
                    <a class="work-together-contact-list-item"
                        href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                </div>

                <div class="contact-item">
                    <svg class="work-contact-list-icon">
                        <use href="/src/img/svg/icons.svg#icon-location"></use>
                    </svg>
                    <a class="work-together-contact-list-item" href="https://www.google.com/maps/place/..."
                        target="_blank">
                        USA, New York
                    </a>
                </div>
            </address>

        </div>
        <form class="work-together-form">
            <input class="work-together-form-input" type="email" name="email" placeholder="Your email*" required>
            <textarea class="work-together-form-message" placeholder="Message"></textarea>
            <button class="work-together-form-btn">SEND MESSAGE</button>
        </form>
    </div>
</section>
<section class="footer">
    <div class="footer-block container">
        <h3 class="footer-title"><span>Lloyd</span>Jefferson.</h3>
        <ul class="footer-socials">
            <li class="footer-socials-item">
                <a href="" class="footer-socials-item-link" target="_blank">Instagram</a>
            </li>
            <li class="footer-socials-item">
                <a href="" class="footer-socials-item-link" target="_blank">Facebook</a>
            </li>
            <li class="footer-socials-item">
                <a href="" class="footer-socials-item-link" target="_blank">Linkedin</a>
            </li>
            <li class="footer-socials-item">
                <a href="" class="footer-socials-item-link" target="_blank">GitHub</a>
            </li>
        </ul>
        <p class="footer-additional">@ Copyright 2024. Made by LloydJefferson</p>
    </div>
</section>