.about-me {
    display: flex;
align-items: left;
flex-direction: column;


    
}
.about-me-title {
    font-family: "Impact", sans-serif;
font-weight: 400;
font-size: 52px;
line-height: 1.2;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: right;
color: #292929;
display: flex;
align-items: center;
padding-bottom: 40px;
}
.about-me-span {
    color: #00B068;
    padding-left: 15px;
}


.content-image-container {
    display: flex;
align-items: center;
    border-radius: 16px;
    
}
.bio-container {
    display: flex;
align-items: left;
justify-content: left;
flex-direction: column;
margin-bottom: 40px;
}
.bio-title {
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 1.25;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #292929;
padding-top: 40px;
padding-bottom: 32px;
}
.bio-item-cont
.bio-item-cont1 {
    font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.03em;
color: #292929;
padding-bottom: 24px;

}

.education-continer {
    display: flex;
align-items: left;
justify-content: left;
flex-direction: column;
padding-bottom: 40px;
}
.education-title {
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 1.25;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #292929;
padding-bottom: 32px;

}
.education-list {
    font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.03em;
color: #292929;
display: flex;
align-items: left;
justify-content: left;
flex-direction: column;
gap: 12px;
list-style: disc;
}
.education-list li::marker {
    color: #00B068;
}

.role-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
    padding-bottom: 32px;
}
.role-list {
    font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.03em;
color: #292929;
display: flex;
align-items: left;
justify-content: left;
flex-direction: column;
gap: 12px;
list-style: disc;
}
.role-list li::marker {
    color: #00B068;
}

@media screen and (max-width: 767px) {
    .decor-img {
        display: none;
    }
}

/*about-me tablet*/
@media screen and (min-width: 768px) {
 
.about-me-title {
font-size: 108px;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: right;
align-items: right;
padding-bottom: 40px;
}  
.bio-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    grid-column-gap: 32px;
}
.content-image-container {
    position: relative;
    top: 208px;
    
}
.bio-title {
font-size: 36px;
line-height: 1.3;
letter-spacing: 0.01em;
padding-top: 40px;
padding-bottom: 32px;
}

.educ-role-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;

}

.role-container{
    
}

   
.role-container-title{
   
}


}