:root {
  font-family: "Poppins", "Impact", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #00B068;
  background-color: #F0F0F0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  background-color: #00B068;
  border-radius: 8px;
  padding: 12px 24px;
  width: 173px;
  height: 48px;
}

button:hover {
  background-color: #009156;
}