.faq-section {
    padding: 60px 20px;
    max-width: 320;
    margin: auto;
    position: relative;
    
}

.faq-title {
    font-family: Impact, sans-serif;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: left;
    color: #292929;
}

.faq-title .accent {
    color: #00B068;
}
.accordion {
    font-family: Poppins Regular;
    display: block;
    float: right;
    width: 38%;
    text-align: left;
}
   .accordion-item{
   display:block;
text-align: left;
font-family: Poppins Regular;
 font-size: 20 px;
 letter-spacing: 0.5 px;
  line-height: 32 px;
margin-bottom: 0 px;
   }

   .accordion-header {
       cursor: pointer;
       margin: 0;
    padding: 15px;
       background: #f0f0f0;
       color: #292929;
       width: 100%;
    text-transform: uppercase;
      border: none;
       text-align: left;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
   }

   .close .accordion-content {
       height: 0px;
       transition: height 1s ease-out;
       -webkit-transform: scaleY(0);
       -o-transform: scaleY(0);
       -ms-transform: scaleY(0);
       transform: scaleY(0);
       
       display: block;

   }

   .open .accordion-content {
       background-color: #BCDFD1;
       border: none;
    padding: 15px;
       display: block;
    border-radius: 0 0 5px 5px;
        margin-top: 0;
       -webkit-transform: scaleY(1);
       -o-transform: scaleY(1);
       -ms-transform: scaleY(1);
       transform: scaleY(1);
       -webkit-transform-origin: top;
       -o-transform-origin: top;
       -ms-transform-origin: top;
       transform-origin: top;

       -webkit-transition: -webkit-transform 0.4s ease-out;
       -o-transition: -o-transform 0.4s ease;
       -ms-transition: -ms-transform 0.4s ease;
       transition: transform 0.4s ease;
       box-sizing: border-box;
    font-family: Poppins Light;
        font-size: 16 px;
        letter-spacing: 0.2 px;
        line-height: 24 px;
        color: #292929;
        text-align: left;
   }

   .open .accordion-header{
    margin: 0;
       background-color: #BCDFD1;
       color:#292929;
    text-align: left;
   }