/* .reviews-section {
  padding: 40px 20px;
  background-color: #f7f7f7;
} */

.reviews-title {
  font-family: 'Impact', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;

  margin-bottom: 40px;
}

.reviews-swiper {
  position: relative;
  overflow: hidden;
}

.reviews-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.reviews-list li {
  margin: 0 24px;
  background-color: #e4e5e6;
  border-radius: 16px;
  padding: 32px;
  max-width: 320px;
  height: 100%;
}

.review-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 24px;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 256px;
  max-height: 40px;
}

.review-author img {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  object-fit: cover;
}

.review-author-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
}

/* Navigation Buttons */
.reviews-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}

.reviews-button-prev,
.reviews-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 1px solid #292929;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.3s, opacity 0.3s;
}

.reviews-button-prev:hover,
.reviews-button-next:hover {
  background-color: #e4e5e6;
}

.reviews-button-prev[disabled],
.reviews-button-next[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.reviews-icon {
  width: 24px;
  height: 24px;
  stroke: #000000;
  fill: #000000;
}

/* Breakpoints */
@media (max-width: 1279px) {
  .reviews-list li {
    flex: 0 0 250px;
  }
}

@media (max-width: 767px) {
  .reviews-list li {
    flex: 0 0 220px;
  }
}

@media (max-width: 359px) {
  .reviews-list li {
    flex: 0 0 90%;
  }
}
